<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<title>Promote | Cashify</title>


	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./assets/css/selectpromote.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">


</head>

<body>

	<div class="navbar">
		<div class="logo">Cashify🚀
			<h6 style="color: aqua;">start promoting with Cashify</h6>
		</div>
		<a href="/promotestatus" class="icons">
			<i class='bx bx-history'></i>
		</a>
	</div>

	<section id="services" class="services-section section-space-padding">
		<div class="container">

			<div class="section-title">
				<i class="icon-support"></i>
				<h2 class="white-color">Select to <span>Promote <img src="./assets/logo/star.png" width="20"
							alt=""></span></h2>
			</div>

			<div class="row">

				<div class="col-md-4 col-sm-6 3d-hover">
					<div class="services-detail hover-effect-3d">
						<img src="./assets/logo/youtube.png" width="75" alt="">
						<h3>Youtube Video</h3>
						<hr>
						<p>Promote your videos to attract more Views & Subscribers!</p>
						<br>
						<a class="btn-shiny" href="/createyoutube">Promote Now</a>
					</div>
				</div>
				<!--2nd---->
				<div class="col-md-4 col-sm-6 3d-hover">
					<div class="services-detail hover-effect-3d">
						<img src="./assets/logo/Adds.png" width="75" alt="">
						<h3>Adds</h3>
						<hr>
						<p>Promote your Adds to attract more viewers & leads!</p>
						<br>
						<a class="btn-shiny" href="/createadds">Promote Now</a>
					</div>
				</div>
				<!--3rd---->

				<div class="col-md-4 col-sm-6 3d-hover">
					<div class="services-detail hover-effect-3d">
						<img src="./assets/logo/box.png" width="75" alt="">
						<h3>Products</h3>
						<hr>
						<p>Promote your products to attract more Buyers & Sales!</p>
						<br>
						<a class="btn-shiny" href="">Promote Now</a>
					</div>
				</div>

			</div>
		</div>
	</section>







</body>

</html>