<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashify</title>
    <link rel="stylesheet" href="./assets/css/selectearn.css">
</head>

<body>
    <div class="container">
        <img src="./assets/logo/logo.png" alt="Logo" class="logo">
        <div class="center-box">
            <a href="/earn"><button class="btn watch-earn">Watch Earn</button></a>
            <a href="/gamesdashboard"><button class="btn play-earn">Play Earn</button></a>
        </div>
    </div>
</body>

</html>